.video-display-container
  .row
    .span12
      .well
        .video-label
          = carousel_title
        .video-title
          =link_to_unless_current video.title, video_path(video)
        .video-presenters
          =raw(display_video_presenter_links video)
        .video-frame
          %iframe{:width =>"900" , :height => "540", :src=>"http://www.youtube.com/embed/#{video.youtube_code}?autoplay=0&origin=http://confreaks.tv", :frameborder=>'0', :allowfullscreen=>true}
        .video-conference
          =link_to video.event.display_name, event_path(video.event)
        -if video.license
          .video-license
            = render :partial => 'videos/license', :locals => { :video => video }
  .row
    .span12
      .well           
        %legend
          .pull-right
            = number_with_delimiter(video.views)
          = video.title
        .video-abstract
          Posted:
          = video.post_date.strftime("%B %e, %Y") unless video.post_date.nil?
          %p
            = raw(video.abstract)