.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Confreaks.tv", root_path, :class => "brand"
      .container.nav-collapse
        %ul.nav
          %li
            = link_to "Home", root_path
          %li
            = link_to "Conferences", conferences_path
          %li
            = link_to "Events", events_path
          %li
            = link_to "Search", "#"
          %li
            %a.drop-down-toggle{:href => "#", "data-toggle" => "dropdown"}
              %span
                Presenters
                %span.make-it-white.caret
              %ul.dropdown-menu
                %Li
                  =link_to 'Table', presenters_path(:view => 'table')
                %li
                  =link_to 'Pictures', presenters_path(:view => 'pictures')